unless minimal
	div.footer#bottom
		| - 
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		div
			| friend sites:
			br
			| [ 
			a(href='https://wapchan.org') wapchan
			|  ]
		div
			small
				a(href='https://github.com/Marzisoft/jschan') jschan
				pre.di.no-m-p  #{version}#{__('  |  ')}
				a(href='/account.html') account

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
