unless minimal
	div.footer#bottom
		| - 
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		a(href='/banners.html') #{__('banners')}
		|  -
		div
			| friend sites:
			br
			| [ 
			a(href='https://wapchan.org') wapchan
			|  / 
			a(href='https://hikari3.ch/') hikari3
			|  ]
		div
			small
				| - 
				a(href='/account.html') modpanel
				|  -
				if board
					|  
					if !modview
						a(href=`/${board._id}/manage/${managePage || 'index.html'}`) modview
					else
						a(href=`/${board._id}/${managePage || 'index.html'}`) userview
					|  -
		div
			small
				a(href='https://github.com/Marzisoft/jschan') jschan
				|  #{version}
				
			

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
