unless minimal
	nav.navbar
		div.navbar-edge()
			a.nav-item(href='/index.html') #{__('[Home]')}
		div.fn.nav-item()
			| [ 
			a.no-decoration(href='/plaza/index.html') #{__('plaza')}
			|  / 
			a.no-decoration(href='/meta/index.html') #{__('meta')}
			|  ]
		div.navbar-edge.jr()
			if !modview && board
				a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`) #{__('[Mod]')}
			a.jsonly.nav-item.right#settings(data-label=(__('[Settings]')))
